/* Inventory.module.css */

/* General Styles */
.content {  
  width: 71%; 
  margin-bottom: 2%;
  height: 50%;
  margin-left: 14%;
  margin-right: -10% ;
  padding: 20px;
  height: 60%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.textTitle {
  margin-top: 4%;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

.InventoryText{
  color: white;
  margin: 15px 0 15px 20px;
}

.cardHeader{
  border-radius: 5px 5px 0 0;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  linear-gradient(to right, #e74c3d, #fe6a6a );
}

/* Search Bar */

.inputSearchInventory{
  border: 1px solid #ccc ; 
  width: 350px;
  padding: 6px ;
  padding-right: 5%;
  font-size: 1rem;
  margin-right: 100% ;
  border-radius: 20px 20px 20px 20px !important;
}
.inputSearchInventory:focus{
  border-color: #FF4500; /* สีขอบเมื่อคลิก */
  box-shadow: 0px 4px 8px rgba(255, 69, 0, 0.3); /* เงาสีแดง */
}

/* Table Styling */
.tableResponsive {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* box-shadow: 0 4px 8px rgba(243, 112, 4, 0.1); */
}

.customTable th, .customTable td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 0.95rem;
}

.customTable th {
  background-color: #e74c3c;
  color: #fff;
}

.customTable tr:hover {
  background-color: #f9f9f9;
}

.inventoryHeadTable th {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #f8f9fa;
  color: black;
}

/* Button Styles */
.btnGradientGreen {
  background: linear-gradient(135deg, #28a745, #218838);
  border: 1px solid #218838;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btnGradientGreen:hover {
  background: linear-gradient(135deg, #218838, #28a745);
}

.noData {
  text-align: center;
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-top: 20px;
}