.content{
    margin-left: 350px;
    margin-top: 50px;
    
    }

.container-wms {
  padding: 20px;
}
.btn-custom {
  background-color: #4CAF50;
  color: white;
}
.btn-gradient-red {
  /* background: linear-gradient(to right, #FF7E5F, #feb47b); */
}
.card-header-countProduct-bottom {
  padding: 10px;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #e74c3c ,#fe6a6a);
  color: white;
  border-radius: 5px 5px 0 0;
    
}

.table-countProduct-bottom{
width: 100%;
 table-layout: auto; /* ให้ตารางปรับขนาดตามเนื้อหา  */
 border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
  border-spacing: 0;
}